{
  "presets": [
    "es2015-rollup",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
