{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/env",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/transform-runtime",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
